.otsukimi-list-item {
  display: flex;
  align-items: center;

  height: 1.5em;

  font-family: var(--otsukimi-font-body-family);
  font-size: 1rem;
  font-weight: 400;

  color: var(--otsukimi-color-text-primary);
}

.otsukimi-list-item-star {
  gap: 5px;
}

.otsukimi-list-item-dot {
  gap: 10px;
}

.otsukimi-list-item svg {
  width: 24px;
  height: 24px;
}

.otsukimi-list-item-star svg {
  color: var(--otsukimi-color-highlight-default);
}

.otsukimi-list-item-dot svg {
  color: var(--otsukimi-color-brand-primary-deep);
}
