.otsukimi-card {
  box-sizing: border-box;

  padding: 1.5em;

  border-radius: var(--otsukimi-radius-md);
  background: var(--otsukimi-color-bg-surface);
  box-shadow: var(--otsukimi-shadow-md);

  color: var(--otsukimi-color-text-primary);
}
